Demo-2010/Prac3WebApp/Web References/searchRef/SearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="searchL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNameResult" type="tns:Contact1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Contact1">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="user_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPhoneResult" type="tns:Contact1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="area" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="searchLSoapIn">
    <wsdl:part name="parameters" element="tns:searchL" />
  </wsdl:message>
  <wsdl:message name="searchLSoapOut">
    <wsdl:part name="parameters" element="tns:searchLResponse" />
  </wsdl:message>
  <wsdl:message name="searchPSoapIn">
    <wsdl:part name="parameters" element="tns:searchP" />
  </wsdl:message>
  <wsdl:message name="searchPSoapOut">
    <wsdl:part name="parameters" element="tns:searchPResponse" />
  </wsdl:message>
  <wsdl:message name="getNameSoapIn">
    <wsdl:part name="parameters" element="tns:getName" />
  </wsdl:message>
  <wsdl:message name="getNameSoapOut">
    <wsdl:part name="parameters" element="tns:getNameResponse" />
  </wsdl:message>
  <wsdl:message name="getPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:getPhone" />
  </wsdl:message>
  <wsdl:message name="getPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:getPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="updateSoapIn">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="updateSoapOut">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:portType name="Search_x0020_web_x0020_serviceSoap">
    <wsdl:operation name="searchL">
      <wsdl:input message="tns:searchLSoapIn" />
      <wsdl:output message="tns:searchLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchP">
      <wsdl:input message="tns:searchPSoapIn" />
      <wsdl:output message="tns:searchPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getName">
      <wsdl:input message="tns:getNameSoapIn" />
      <wsdl:output message="tns:getNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPhone">
      <wsdl:input message="tns:getPhoneSoapIn" />
      <wsdl:output message="tns:getPhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:updateSoapIn" />
      <wsdl:output message="tns:updateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Search_x0020_web_x0020_serviceSoap" type="tns:Search_x0020_web_x0020_serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchL">
      <soap:operation soapAction="http://tempuri.org/searchL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchP">
      <soap:operation soapAction="http://tempuri.org/searchP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <soap:operation soapAction="http://tempuri.org/getName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhone">
      <soap:operation soapAction="http://tempuri.org/getPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Search_x0020_web_x0020_serviceSoap12" type="tns:Search_x0020_web_x0020_serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchL">
      <soap12:operation soapAction="http://tempuri.org/searchL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchP">
      <soap12:operation soapAction="http://tempuri.org/searchP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <soap12:operation soapAction="http://tempuri.org/getName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhone">
      <soap12:operation soapAction="http://tempuri.org/getPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="http://tempuri.org/update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Search_x0020_web_x0020_service">
    <wsdl:port name="Search_x0020_web_x0020_serviceSoap" binding="tns:Search_x0020_web_x0020_serviceSoap">
      <soap:address location="http://localhost:7536/SearchService.asmx" />
    </wsdl:port>
    <wsdl:port name="Search_x0020_web_x0020_serviceSoap12" binding="tns:Search_x0020_web_x0020_serviceSoap12">
      <soap12:address location="http://localhost:7536/SearchService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>