Demo-2010/Prac3WebApp/Web References/ReminderRef/ReminderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Reminder">
        <s:complexType />
      </s:element>
      <s:element name="ReminderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReminderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReminderSoapIn">
    <wsdl:part name="parameters" element="tns:Reminder" />
  </wsdl:message>
  <wsdl:message name="ReminderSoapOut">
    <wsdl:part name="parameters" element="tns:ReminderResponse" />
  </wsdl:message>
  <wsdl:portType name="Reminder_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="Reminder">
      <wsdl:input message="tns:ReminderSoapIn" />
      <wsdl:output message="tns:ReminderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Reminder_x0020_Web_x0020_ServiceSoap" type="tns:Reminder_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Reminder">
      <soap:operation soapAction="http://tempuri.org/Reminder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Reminder_x0020_Web_x0020_ServiceSoap12" type="tns:Reminder_x0020_Web_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Reminder">
      <soap12:operation soapAction="http://tempuri.org/Reminder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reminder_x0020_Web_x0020_Service">
    <wsdl:port name="Reminder_x0020_Web_x0020_ServiceSoap" binding="tns:Reminder_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://localhost:7536/ReminderService.asmx" />
    </wsdl:port>
    <wsdl:port name="Reminder_x0020_Web_x0020_ServiceSoap12" binding="tns:Reminder_x0020_Web_x0020_ServiceSoap12">
      <soap12:address location="http://localhost:7536/ReminderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>