Demo-2010/Prac3WebApp/Web References/connRef/ADOWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_id1" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="firstname1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="area1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="year1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="month1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="day1" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:portType name="ADOWebServiceSoap">
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ADOWebServiceSoap" type="tns:ADOWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ADOWebServiceSoap12" type="tns:ADOWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ADOWebService">
    <wsdl:port name="ADOWebServiceSoap" binding="tns:ADOWebServiceSoap">
      <soap:address location="http://localhost:7536/ADOWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ADOWebServiceSoap12" binding="tns:ADOWebServiceSoap12">
      <soap12:address location="http://localhost:7536/ADOWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>